.Table {
    border-spacing: 0px;
    background: #fff;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);

  }
  
  .Cell {
    border: 8px solid #f4f6f8;
    padding: 8px;
    text-align: left;
    width:200px
  }

  .Cell1 {
    border: 8px solid #f4f6f8;
    padding: 8px;
    text-align: left;
    width:2000px
  }